.slotnum {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  /* margin-bottom: 10px; */
  /* height: fit-content; */
  position: relative;
  z-index:1;
}
.bt {
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
.video{
  position: absolute;
  z-index:0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video1{
  position: absolute;
  z-index:0;
  left: 50%;
  top: 77%;
  transform: translate(-50%, -50%);
  
}

video{
  width: 200px;
	height: 200px;
}

.main{
  position: relative;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
