<app-top-bar></app-top-bar>
<app-top-slot [game]="game" [between]="between"></app-top-slot>

<div class="main">

  <div class="slotnum">
    <app-left [leftnum]="leftnum"></app-left>
    <app-mid [midnum]="midnum"></app-mid>
    <app-right [rightnum]="rightnum"></app-right>
  </div>

  <!-- ジャグランプの表示 -->
  <div id="showbox" class="video1" >
    <!-- <video autoplay src="../assets/countdown01-b5.mp4"></video> -->
    <div class="circle" id="circle" style="display: block"></div>
    <img src="./assets/OIP (2).jpg" style="width: 130px; height: 130px;">
  </div>

  <!-- 大当たり時の画像表示 -->
  <div id="showbox1" class="video" style="display: none">
    <!-- <video autoplay src="../assets/countdown01-b5.mp4"></video> -->
    <img src="./assets/2dbdcdf488714bafeb2ec64f7204daa6_t.jpeg">
  </div>

  <!-- 音声データ -->
  <audio id="myaudio" src="./assets/効果音ジャグラー-ペカリ.mp3"></audio>
  <audio id="myaudio2" src="./assets/女声「オーッ！」.mp3"></audio>
  <audio id="myaudio3" src="./assets/ラッパのファンファーレ.mp3"></audio>

</div>




<div  class="bt"><button id="push" (click)="slot()">押せ</button></div>
<div  class="bt"><button id="push" (click)="auto()">自動</button></div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
