<app-top-bar></app-top-bar>
<app-top-slot [game]="game" [between]="between"></app-top-slot>

<div class="main">

  <div class="slotnum">
    <app-left [leftnum]="leftnum"></app-left>
    <app-mid [midnum]="midnum"></app-mid>
    <app-right [rightnum]="rightnum"></app-right>
  </div>

  <div id="showbox" class="video" style="display: none">
    <!-- <video autoplay src="../assets/countdown01-b5.mp4"></video> -->
    <img src="../assets/OIP (1).jpg">
  </div>
  <audio id="myaudio" src="../assets/効果音ジャグラー-ペカリ.mp3"></audio>

</div>




<div  class="bt"><button id="push" (click)="slot()">押せ</button></div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
